<!doctype html>

<!--Main document for the Page. Other handlebar files are passed to this for dynamic html-->

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
<!--    Handlebar stuff-->
    {{{ body }}}
</body>
</html>
