<link rel="stylesheet" href="/stylesheets/style.css">
<div id="center"></div>

<body>
    <div id="login">
        <h1>Welcome to S.P.A.D.E</h1>
        <a href="/spotify/login">Login</a>
    </div>

</body>
<footer> S.P.A.D.E &COPY; </footer>
