<!doctype html>

<!--Main document for the Page. Other handlebar files are passed to this for dynamic html-->

<html lang="en">

<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<div class="header">
  <div id='title'>
    <h1 id='greeting'></h1>
  </div>

</div>
<div class="container">
  <div class="sideBar">
    <nav>
      <div class='full-content'>
        <p> S.P.A.D.E</p>
      </div>

      <div id='table-div'>
        <table id='user-Table'>
          <tr>
            <td>Name </td>
            <td id='name'></td>
          </tr>
          <tr>
            <td>Country</td>
            <td id='country'></td>
          </tr>
          <tr>
            <td>Email</td>
            <td id='email'></td>
          </tr>
          <tr>
            <td>Product</td>
            <td id='product'></td>
          </tr>
        </table>
      </div>

      <div class='link-content'>
        <a id = "activity"> My Activity</a>
      </div>
      <div class='link-content'>
        <a id= "webplayer">Spotify Web Player</a>
      </div>
      <div class='link-content'>
        <a href="https://www.spotify.com/au/"> Go To Spotify</a>
      </div>
    </nav>

  </div>
  <div class="bodyContent">

    <body>
      <!-- The core Firebase JS SDK is always required and must be listed first -->
      <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-app.js"></script>

      <!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
      <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-analytics.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>

      <script type="text/javascript" src="/js/analyticsConfig.js"></script>
      <script type="text/javascript" src="/js/utility.js"></script>



      <div class="full-content">
        <form id='form'>
          <p>Search For A Song</p>
          <input id='song-name' type="text" />
          <button type=submit> Search</button>
          <p id='song-data'></p>
        </form>
        <button id='addToPlaylist'> Save Song to my Spotify</button>

      </div>

      <div id="result">


        <div id='song-div'>
          <table id='song-Table'>
            <tr>
              <td>Song Name </td>
              <td id='result-name'></td>
            </tr>
            <tr>
              <td>Artist</td>
              <td id='artist'></td>
            </tr>
            <tr>
              <td>Album</td>
              <td id='album'></td>
            </tr>
            <tr>
              <td>Popularity Rating</td>
              <td id='popularity'></td>
            </tr>
          </table>
          <div id="song-found">
          </div>

        </div>





        <div id='album-div'>
          <div id='album-image'><img src=""></div>
          <table id='album-Table'>
            <tr>
              <td>Album Name </td>
              <td id='album-name'></td>
            </tr>
            <tr>
              <td>Release Date</td>
              <td id='release-date'></td>
            </tr>
            <tr>
              <td>Album Type</td>
              <td id='album-type'></td>
            </tr>
            <tr>
              <td>Total Tracks</td>
              <td id='total-tracks'></td>
            </tr>
          </table>
        </div>

        <div id='artist-div'>
          <div id='artist-image'><img src=""></div>
          <div id='follow-link'><a href="">Follow</a></div>
          <table id='artist-Table'>
            <tr>
              <td>Artist Name </td>
              <td id='artist-name'></td>
            </tr>
            <tr>
              <td>Followers</td>
              <td id='followers'></td>
            </tr>

          </table>

        </div>
      </div>

    </body>

  </div>
</div>

<footer> S.P.A.D.E &COPY; </footer>

<script type="text/javascript" src="/js/main/ajaxRequests.js"></script>
<script type="text/javascript" src="/js/main/paintPage.js"></script>

<script>

//Onload
window.onload = () => {
  getUserData();

  var codes = window.location.hash.substr(1);
  var link = "/spotify/webplayer/#" + codes;
  document.getElementById("webplayer").setAttribute("href", link);


}

  $('document').ready(function() {
    //When search is performed
    $('#form').on('submit', function(ev) {
      //Stop default post call
      ev.preventDefault();
      //API call to Spoify for user data
      getSearchData();
    });

    //When addTrackToPlaylist button is clicked
    $('#addToPlaylist').on('click', function(ev) {
      //Stop default post call
      ev.preventDefault();
      if (currentTrack) {
        addTrackToPlaylist();
        firebase.analytics().logEvent('addTrackToPlaylist', {
          searchTerms: document.getElementById("song-name").value
        });
      }
    });

  });


  //Data Request Successful!
  function success(data) {
    if (data) {
      currentTrack = data[0].tracks.items[0];
      firebase.analytics().logEvent('search', {
        searchTerms: document.getElementById("song-name").value
      });
      paintSongData(data[0]);
      paintArtistData(data[1]);
      paintAlbumData(data[2]);
    }
  }
  function error(error) {
    console.error(error);
  }
</script>



</html>
